.goutham_header{
    text-align: center;
    background-color: white;
}

.myprofile{
    border-radius: 50%;
}

.shade{
    background-color: white;
}

.carousel{
    text-align: center;
    background-color: pink;
    height: 500px;
}

.item1{
    color: rgb(rgb(143, 94, 94), green, blue);
}

item2{
    color: rgb(rgb(104, 49, 49), green, blue);
}

item3{
    color: rgb(red, rgb(69, 37, 117), blue);
}

/*.new.a:link,.new.a:visited{
    text-decoration: none;
    //background-color: rgb(10, 25, 47);
    border: 1px solid rgb(136, 146, 176);
    color: rgb(136, 146, 176);
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}*/

